<!DOCTYPE html>
<html>
<head>
	<title>Terrorism Detection</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style type="text/css">
	
.brandName{
	font-family: serif;
	font-size: 25px;
	font-style: bold;
}
</style>
</head>

<body>

	{% include 'includes/navbar.html' %}
   <div class="container">

		{% block body %}

		{% endblock %}   	
   </div> 


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html> 