{% extends 'layout.html' %}


{% block body %}
<style type="text/css">
	.buttons_under_canvas1 {
		margin-left: 91px;
		margin-top: 10px;
	}

	.canvas2 {
	margin-left: 450px;
	margin-top: 90px;
		
	}
	.canvases{
		margin-top: 10px;
	}
	input[type="text"]
{

	border: 2px solid blue;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
	width: 500px;
	height: 200px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
th {
  background-color: #000000;
  color: white;
}

</style>


<body>
    <br><br><br><br>




    <br><br><br><br>
    <h3>Result</h3>
 	<div class="jumbotron">
 	 <table>
	<tr>
	<th>Username</th>
	<th>Text</th>
	<th>TimeStamp</th>
	<th>Location</th>
	<th>Status</th>
	</tr>
	{% for key,value  in result.items()  %}
	<tr>
		<td>{{ result[key]['Username'] }} </td>
		<td>{{ result[key]['text'] }} </td>
		<td>{{ result[key]['Timestamp'] }} </td>
		<td>{{ result[key]['location'] }} </td>
		<td>{{ result[key]['Status'] }} </td>
	</tr>
	{% endfor %}
	</table>
 	</div>










	 		<!--<div class="row buttons_under_canvas1">

	 			
	 			<div class="col-md-1 ">
	 				<form action="/">
			      	<input type="submit" class="btn btn-danger" value = "Clear">
			      	</form>
                   
				
	 			</div>	
	 			<div class="col-md-1">
	 				
	 			<button id="predBtn" onclick="postImage();" class="btn btn-success">Predict</button>

	 			</div>
	 		</div>
	 		-->
			      
			</div>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.2"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>




//function to capture the content of the canvas and POST it to the server
/*function postText()
{
						//statement to capture the content of the canvas as a BASE64 string	
	               		
						var inputVal = document.getElementById("textField").value;
                        canvas2=document.getElementById("myCanvas2");
                        ctx2=canvas2.getContext("2d");
                        //clear the contents of the Answer canvas that is myCanvas2
                        ctx2.clearRect(0,0,500,250);
                        console.log("POSTING FUNCTION successfully called");

                        //AJAX for posting the data dynamically
		            	$.ajax({
		            	url: '/analyze',
		            	type: 'POST',
		            	data: {'textbox' : inputVal}	
		            			}).done(function(data,textStatus,jqXHR)
		            								{
		            									if(data)
			            									{   //If the user has written anything
																//on the canvas
																ctx2.font="35px Arial"
																ctx2.stroke()

																ctx2.fillText(data,40,100);
				            									console.log("Data Received: ",data)
			            									}
		            									else
			            									{	//if the user have not written anything on 
			            										//the canvas
			            										ctx2.font="35px Arial"
																ctx2.stroke()
																ctx2.fillText("WRITE SOMETHING!",40,100);

			            									}

													}).fail(function (data)
														{
															//error message when data is not posted 
															//succesfully
															console.log("FAILED!",data);
														});



								
            		

}

var canvas = document.getElementById("myCanvas2");
var ctx = canvas.getContext("2d");
ctx.fillStyle = "white";
ctx.fillRect(0,0,500,200);
*/
</script>
</body>

{% endblock %}